<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New comment added, <%= @user.username %></h1>
    <p>
      Preview of the comment...
      <br>
      <%= @comment[:content] %>
    </p>
  </body>
</html>
