<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New post added, <%= @user.username %></h1>
    <p>
      The title of the post is <%= @post.title %>
    </p>
    <p>
      Preview of the content...
      <br>
      <%= truncate(@post.content, length: 50) %>
    </p>
  </body>
</html>
